body {
    background-color:#E3F2FD;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.menu {
    position: fixed;
    left: -250px; /* Hide the menu off-screen */
    top: 0;
    width: 200px;
    height: 100%;
    background-color:#2b3d33;
    color: black;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
    text-align:center;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu-button {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: 10px;
    z-index: 1001;
    background-color:#2b3d33;
    color: white;
    border: none;
    outline: none;
}

.menu.open {
    left: 0; /* Slide the menu into view */
}
.logo{
     text-align:center;
     font-size:30px;
     font-weight:bold;
}
header {
    background-color: #2b3d33;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    position :fixed;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
}
nav a {
    color: #FF8A65;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
    color: #ffffea;
}

nav input[type="text"] {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #2b3d33;
    width: 250px;
}

nav button {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #2b3d33;
    color: white;
    cursor: pointer;
}

.hero {
    background-image: url('../images/desti.jpg');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
   
}

.hero,h1 {
     font-size:50px;
}

.featured-posts {
    text-align: center;
    
  }
.content{
     border-box: box-sizing ;
    border:2px solid grey ;
    margin:10px;
    border-radius: 10px;
    
}

  .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
.post-container a{    
     color:white;
     text-decoration:none;
     
}
  .post1, .post2,.post3,.post4,.post5{
  background-image: url("../images/Nigeria.jpeg");
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover; 
  background-position: center; 
  color: white; 
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:80px;
  border:3px solid #cb997e;
  }
  
  /*.post img {
    width: 100%;
    height: auto;
  }*/

  /*.post h2 {
    margin: 10px 0;
  }
  
  .post,a,h2{
       text-decoration:none;
  }*/
  
  .content {
    max-width: 600px;
    line-height: 1.6;
}

.more-text {
    display: none; /* Hidden by default */
}

.read-more-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.read-more-btn:hover {
    background-color: #005f73;
}
footer {
    background-color: #2b3d33;
    color: #FFFFFF;
    text-align: center;
    padding-top:10px;
    ; 
    
}
a {
     text-decoration:none;
     Display-style:inline;
     text-align:center;
     color: white;
     
}
ul{
     text-align:center;
     align-items:center;
     padding-right:10%
}
.newsletter-signup {
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    background-color: ;
    text-align: center;
    padding: 40px 20px;
}
button.primary {
    background-color: brown ;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
